body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.head-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.f-head-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  margin-top: 0;
  margin-bottom: 0px;
  padding-left: 0;
}

.link {
  padding: 0;
  border: none;
  position: relative;
}

.title {
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.contract {
  text-decoration: underline;
  color: #2196f3;
}

.modal-title {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button-close:hover {
  fill: #2196f3;
}

.close {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 0px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  width: 448px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
  position: relative;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
}

.checkbox:checked + .check-ikon {
  background-color: #2196f3;
  background-image: url(../images/modal/icon_check.svg);
  background-size: contain;
  border-color: #2196f3;
}

.checkbox-label {
  font-size: 14px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.check-ikon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  background-origin: border-box;
}

.form-field input {
  width: 100%;
  margin: 0;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:hover {
  border: 1px solid #2196f3;
}

.form-field input:hover + .form-label,
.form-field input:not(:placeholder-shown) + .form-label,
.form-field input:focus + .form-label {
  -webkit-transform: translate(-30px, -42px);
          transform: translate(-30px, -42px);
  color: #2196f3;
}

.form-field input:hover ~ .icon-modal,
.form-field input:focus ~ .icon-modal {
  fill: #2196f3;
}

.form-field textarea {
  width: 100%;
  margin: 0;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.form-field textarea:hover {
  border: 1px solid #2196f3;
}

.form-field textarea:hover + .form-label-comment,
.form-field textarea:not(:placeholder-shown) + .form-label-comment,
.form-field textarea:focus + .form-label-comment {
  -webkit-transform: translate(-5px, -47px);
          transform: translate(-5px, -47px);
  color: #2196f3;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-comment {
  position: absolute;
  top: 20%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  text-align: center;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-secondary:focus {
  color: #212121;
  background-color: #f5f4fa;
}

.button-submit {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  margin-left: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 200px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #ffffff;
}

.button-submit svg {
  margin-left: 10px;
}

.button-submit:focus {
  color: #212121;
  background-color: #f5f4fa;
}

.button-submit:focus svg {
  background-color: #212121;
}

/* logo */
.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-primary {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19px;
}

.logo-secondary {
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19px;
}

.logo-secondary:focus {
  color: #2196f3;
}

/* site nav */
.site-nav {
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav-ad {
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav-ad .link:hover,
.site-nav-ad .link:focus {
  color: #2196f3;
}

.site-nav > .item > .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.site-nav .link {
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-ad .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.e-t-icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .e-t-icon-envelope,
.link:focus .e-t-icon-envelope {
  fill: #2196f3;
}

.e-t-icon-smartphone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .e-t-icon-smartphone,
.link:focus .e-t-icon-smartphone {
  fill: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

.current::after {
  position: absolute;
  display: block;
  content: '';
  margin: 0;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav-ad > .link + .link {
  margin-left: 30px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: black;
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header_img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.features-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature {
  padding-top: 94px;
}

.feature-item {
  margin-right: 30px;
  width: calc((100% - 30px * 3) / 4);
}

.feature-item:last-child {
  margin-right: 0;
}

.features-icon {
  width: 70px;
  height: 70px;
  margin: 25px 100px;
}

.b-g-c-features {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-title {
  color: #212121;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}

.wawd-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 94px;
}

.wawd {
  padding-top: 94px;
}

.wawd-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-wawd {
  margin-left: 30px;
  width: calc((100% - 30px * 2) / 3);
  display: block;
  position: relative;
  margin-bottom: 0;
}

.wawd-position-img {
  position: relative;
  max-width: 100%;
  height: auto;
}

.wawd-position {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
}

.wawd-item {
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.team-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sl-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-box {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.workers-photo {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0px 0px 4px 4px;
}

.photo-workers {
  margin-right: 30px;
  width: calc((100% - 30px * 3) / 4);
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.photo-workers:last-child {
  margin-right: 0;
}

.team-list {
  margin-top: 0;
  margin-bottom: 0px;
  padding-left: 0;
}

.member-box {
  background-color: #ffffff;
}

.member-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0px;
  margin-bottom: 10px;
}

.info-container {
  background-color: #ffffff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
}

.postposition {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0px;
  margin-bottom: 28px;
}

.socialnets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialnets:hover,
.socialnets:focus {
  background-color: #2196f3;
}

.socialnets:hover .socialnets-icons,
.socialnets:focus .socialnets-icons {
  fill: #ffffff;
}

.f-heading {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clients-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 94px;
}

.our-clients {
  padding-top: 94px;
}

.clients-site-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-site-link:hover, .clients-site-link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.client-item {
  margin-right: 30px;
  height: 90px;
  display: inline-block;
}

.client-item:last-child {
  margin-right: 0;
}

.f-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  background-color: #2f303a;
}

.f-logo-primary {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19px;
}

.f-logo-secondary {
  color: #ffffff;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19px;
}

.logo-address {
  width: calc((100% - 60px) / 4);
}

.address-city {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 9px;
  padding-top: 8px;
}

.f-site-nav .f-link {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.f-site-nav .f-link:hover, .f-site-nav .f-link:focus {
  color: #2196f3;
}

.conecting {
  width: calc((100% - 60px) / 4);
}

.conecting-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
}

.f-socialnet-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.f-socialnet-link:hover, .f-socialnet-link:focus {
  background-color: #2196f3;
}

.f-form-field input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  padding-left: 16px;
}

.f-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.f-snl {
  margin-right: 10px;
}

.f-link > li:last-child {
  margin-right: 0;
}

.f-heading {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */