.button-submit {
  color: $white-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  margin-left: 12px;

  display: inline-flex;
  min-width: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  fill: $white-color;

  svg {
    margin-left: 10px;
  }

  &:focus {
    color: $title-text-color;
    background-color: $team-background-color;
    svg {
      background-color: $title-text-color;
    }
  }
}
