.button-secondary {
  color: $white-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  text-align: center;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:focus {
    color: $title-text-color;
    background-color: $team-background-color;
  }
}
