.f-link {
  display: flex;
  align-items: center;
}

.box {
  background-color: $footer-color;
}
.f-logo-primary {
  color: $accent-color;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19px;
}
.f-logo-secondary {
  color: $white-color;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19px;
}
.logo-address {
  width: calc((100% - 60px) / 4);
}
.address-city {
  color: $white-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 9px;
  padding-top: 8px;
}
.f-site-nav .f-link {
  color: rgba(255, 255, 255, 60%);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.conecting {
  width: calc((100% - 60px) / 4);
}

.conecting-title {
  color: $white-color;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
}
.f-socialnet-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $white-color;
  transition: background-color 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.f-form-field input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  background-color: $footer-color;
  padding-left: 16px;
}

.f-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.f-snl {
  margin-right: 10px;
}

.f-link > li:last-child {
  margin-right: 0;
}

.f-heading {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
