/* logo */
.nav-flex {
  display: flex;
  align-items: center;
}

.logo-primary {
  color: $accent-color;

  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19px;
}
.logo-secondary {
  color: $black-color;

  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19px;

  &:focus {
    color: $accent-color;
  }
}

/* site nav */

.site-nav {
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  margin-left: 85px;

  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }
}

.site-nav-ad {
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  margin-left: auto;
  align-items: center;

  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }
}

.site-nav > .item > .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.site-nav .link {
  color: $title-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  transition: color 250ms $cubic;
}
.site-nav-ad .link {
  display: flex;
  align-items: center;
  color: $main-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  transition: color 250ms $cubic;
}

.e-t-icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $main-text-color;
  transition: fill 250ms $cubic;

  .link:hover &,
  .link:focus & {
    fill: $accent-color;
  }
}

.e-t-icon-smartphone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: $main-text-color;
  transition: fill 250ms $cubic;

  .link:hover &,
  .link:focus & {
    fill: $accent-color;
  }
}

.site-nav .link.current {
  color: $accent-color;
}

.current::after {
  position: absolute;
  display: block;
  content: '';
  margin: 0;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: $accent-color;
  border-radius: 2px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav-ad > .link + .link {
  margin-left: 30px;
}
