.project-flex {
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  padding-top: 94px;
}

.title-project {
  color: $title-text-color;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.projects {
  padding-bottom: 94px;
}

.project {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.project:nth-child(3n) {
  margin-right: 0;
}

.project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-item {
  color: $main-text-color;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-description {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $cubic;

  .project:hover &,
  .project:focus & {
    transform: translateY(0);
  }
}

.project-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  top: 0;
  left: 0;
  padding: 63px 24px;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: $white-color;
  opacity: 0;

  .project:hover &,
  .project:focus & {
    opacity: 1;
  }
}

.projects-names {
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-filters {
  margin-bottom: 50px;
}
